<!DOCTYPE html>
html(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Wordpress Tutorial
    link(rel="stylesheet", href="assets/css/style.css")
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
  body
    .wrapper
      h1 Einführung in das CMS Wordpress
      p nachdem du das 
        a(href="") Dashboard
        |  betreten hast, und deinen Username und Passwort eingegeben hast, kannst du folgendes tun:
      ul
        li Werke erstellen 
          a(href="#one") 1.1 <i class="fas fa-arrow-right"></i>
        li Events für die Startseite "Jetzt" erstellen 
          a(href="#two") 2.1 <i class="fas fa-arrow-right"></i>
        li Vitaeinträge für die vergangenen Veranstaltungen erstellen 
          a(href="#three") 3.1 <i class="fas fa-arrow-right"></i>
        li viele andere Sachen 
          a(href="#four") 4.1 <i class="fas fa-arrow-right"></i>
      em Zusatzanmerkung
      h2 1.1 Ein neues Werk erstellen:
      ol#one
        .tip
          p Googlesuche nach "Gutenberg Editor Blocks" für mehr Infos


    footer
      p Made with <img class="wine" src="assets/img/wine.svg"> by <a href="https://schaal.design">schaal.design</a>
        



    
